extends layout

block content
  h1 #{title}
  each page in articles
    h3
      a(href=page.url) #{page.title}
    | #{page.date} -  
    | by 
    i
      a(href="/page/contact") Matthew Avery
    br
    | tags: 
    each tag in page.tags
      - const tag_url = `/tag/${tag}`
      a(href=tag_url)=tag
      | 
    br
    br
    | !{page.content}
    br
    center.delimiter ≁End Of Article≁
  br
  h3
    -const archive_url = `/tag/${name}/archive`
    a(href=archive_url) Show more #{title} articles (list of links)
  h3
     -const all_url = `/tag/${name}/all`
     a(href=all_url) Show more #{title} articles (all articles in one page)
